{
  "extends": "eslint:recommended",
  "env": { "node": true, "es6": true, "jest": true },
  "parserOptions": { "ecmaVersion": 9 },
  "rules": {
    "comma-dangle": ["warn", "always-multiline"],
    "no-console": ["off"],
    "object-curly-spacing": ["warn", "never"],
    "quotes": ["warn", "backtick"],
    "semi": ["warn", "never"]
  }
}
